{% if site.google_analytics_tracking_id %}
<script>
  var gaProperty = '{{ site.google_analytics_tracking_id }}';

  /* Disable tracking if the opt-out cookie exists. */
  var disableStr = 'ga-disable-' + gaProperty;
  if (document.cookie.indexOf(disableStr + '=true') > -1) {
    window[disableStr] = true;
  }

  /* Opt-out function */
  function gaOptout() {
    document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
    window[disableStr] = true;
  }

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  {% if page.google_analytics_anchor_tracking %}
  ga('create', '{{ site.google_analytics_tracking_id }}', 'auto', {'allowAnchor': true});
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview', { 'page': location.pathname + location.search + location.hash});
  
  jQuery(document).ready(function () {
    $('.tocify-item').on('click', function(event) {
      var anchor = $(event.target).closest('li').attr('data-unique');
      ga('send', 'pageview', { 'page': location.pathname + location.search + '#' + anchor});
    });
  });
  {% else %}
  ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
  {% endif %}
</script>
{% endif %}
