{% assign stable = (site.data.releases | where:"status", "stable" | first) %}

<div class="row">
    {% if page.widget-1.title %}
    <div class="medium-3 columns">
        <div class="center"><a href="{{ page.widget-1.url | replace: '!LATEST!', stable.version }}">{% if page.widget-1.image %}<img src="{{ site.urlimg }}/{{ page.widget-1.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-1.video %}{{ page.widget-1.video }}{% endif %}</a></div>
        <h3 class="font-size-h3 t10 pseudo-p center"><a href="{{ page.widget-1.url | replace: '!LATEST!', stable.version }}">{{ page.widget-1.title }}</a></h3>
        <p class="center">{{ page.widget-1.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-2.title %}
    <div class="medium-3 columns">
        <div class="center"><a href="{{ page.widget-2.url | replace: '!LATEST!', stable.version}}">{% if page.widget-2.image %}<img src="{{ site.urlimg }}/{{ page.widget-2.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-2.video %}{{ page.widget-2.video }}{% endif %}</a></div>
        <h3 class="font-size-h3 t10 pseudo-p center"><a href="{{ page.widget-2.url | replace: '!LATEST!', stable.version}}">{{ page.widget-2.title }}</a></h3>
        <p class="center">{{ page.widget-2.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-3.title %}
    <div class="medium-3 columns">
        <div class="center"><a href="{{ page.widget-3.url | replace: '!LATEST!', stable.version}}">{% if page.widget-3.image %}<img src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a></div>
        <h3 class="font-size-h3 t10 pseudo-p center"><a href="{{ page.widget-3.url | replace: '!LATEST!', stable.version}}">{{ page.widget-3.title }}</a></h3>
        <p class="center">{{ page.widget-3.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-4.title %}
    <div class="medium-3 columns">
        <div class="center"><a href="{{ page.widget-4.url | replace: '!LATEST!', stable.version}}">{% if page.widget-4.image %}<img src="{{ site.urlimg }}/{{ page.widget-4.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-4.video %}{{ page.widget-4.video }}{% endif %}</a></div>
        <h3 class="font-size-h3 t10 pseudo-p center"><a href="{{ page.widget-4.url | replace: '!LATEST!', stable.version}}">{{ page.widget-4.title }}</a></h3>
        <p class="center">{{ page.widget-4.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->

<div class="row">
    {% if page.widget-5.title %}
    <div class="medium-4 columns">
        <div class="center"><a href="{{ page.widget-5.url }}">{% if page.widget-5.image %}<img src="{{ site.urlimg }}/{{ page.widget-5.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-5.video %}{{ page.widget-5.video }}{% endif %}</a></div>
        <h3 class="font-size-h3 t10 pseudo-p center"><a href="{{ page.widget-5.url }}">{{ page.widget-5.title }}</a></h3>
        <p class="center">{{ page.widget-5.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}

    {% if page.widget-6.title %}
    <div class="medium-4 columns">
        <div class="center"><a href="{{ page.widget-6.url }}">{% if page.widget-6.image %}<img src="{{ site.urlimg }}/{{ page.widget-6.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-6.video %}{{ page.widget-6.video }}{% endif %}</a></div>
        <h3 class="font-size-h3 t10 pseudo-p center"><a href="{{ page.widget-6.url }}">{{ page.widget-6.title }}</a></h3>
        <p class="center">{{ page.widget-6.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}

    {% if page.widget-7.title %}
    <div class="medium-4 columns">
        <div class="center"><a href="{{ page.widget-7.url }}">{% if page.widget-7.image %}<img src="{{ site.urlimg }}/{{ page.widget-7.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-7.video %}{{ page.widget-7.video }}{% endif %}</a></div>
        <h3 class="font-size-h3 t10 pseudo-p center"><a href="{{ page.widget-7.url }}">{{ page.widget-7.title }}</a></h3>
        <p class="center">{{ page.widget-7.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->