<aside>

<div class="radius b20">
<iframe id="ytplayer" type="text/html" height="227" src="https://www.youtube.com/embed/?listType=playlist&list=PLENWjbYveblcRX-mAt2PwimyVDDSIORny&color=white&showinfo=1" frameborder="0" allowfullscreen></iframe>
</div>

<div class="radius b20">
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/dkprocore" data-widget-id="492287689270386689" width="400" height="300">Tweets by @dkprocore</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div class="radius openhub">
<script type="text/javascript" src="http://www.openhub.net/p/487652/widgets/project_factoids_stats.js"></script>
</div>

</aside>
