<aside>
	<div class="panel radius">
		<h3>What is DKPro?</h3>
		<p>DKPro Core is a collection of software components for natural language processing (NLP) based on the Apache <a href="http://uima.apache.org/">UIMA</a> framework.</p>

<p>Many NLP tools are already freely available in the NLP research community. DKPro Core provides UIMA components wrapping these tools (and some original tools) so they can be used interchangeably in UIMA processing pipelines. DKPro Core builds heavily on <a href="http://uima.apache.org/uimafit">uimaFIT</a> which allows for rapid and easy development of NLP processing pipelines, for wrapping existing tools and for creating original UIMA components.
		</p>
	</div>

<div class="radius b20">
<iframe id="ytplayer" type="text/html" height="227" src="https://www.youtube.com/embed/?listType=playlist&list=PLENWjbYveblcRX-mAt2PwimyVDDSIORny&color=white&showinfo=1"
                                frameborder="0" allowfullscreen>
                        </iframe>
</div>

<div class="radius b20">
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/dkprocore" data-widget-id="492287689270386689" width="400" height="300">Tweets by @dkprocore</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div class="radius">
<script type="text/javascript" src="http://www.ohloh.net/projects/487652/widgets/project_factoids_stats"></script>
</div>

	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			<a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>
