---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t20">
	<div class="medium-12 columns">
		<h2>{{ page.header-1.title }}</h2>
		{{ page.header-1.text }}
    </div><!-- /.medium-12.columns -->
</div><!-- /.row -->

<div class="row t30">

<div class="medium-8 columns">

<div class="row">
    {% if page.widget-1.title %}
    <div class="medium-3 columns">
        <a href="{{ page.widget-1.url }}">{% if page.widget-1.image %}<img src="{{ site.urlimg }}/{{ page.widget-1.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-1.video %}{{ page.widget-1.video }}{% endif %}</a>
        <h3 class="font-size-h3 t10">{{ page.widget-1.title }}</h3>
        <p>{{ page.widget-1.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-2.title %}
    <div class="medium-3 columns">
        <a href="{{ page.widget-2.url }}">{% if page.widget-2.image %}<img src="{{ site.urlimg }}/{{ page.widget-2.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-2.video %}{{ page.widget-2.video }}{% endif %}</a>
        <h3 class="font-size-h3 t10">{{ page.widget-2.title }}</h3>
        <p>{{ page.widget-2.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-3.title %}
    <div class="medium-3 columns">
        <a href="{{ page.widget-3.url }}">{% if page.widget-3.image %}<img src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>
        <h3 class="font-size-h3 t10">{{ page.widget-3.title }}</h3>
        <p>{{ page.widget-3.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-4.title %}
    <div class="medium-3 columns">
        <a href="{{ page.widget-4.url }}">{% if page.widget-4.image %}<img src="{{ site.urlimg }}/{{ page.widget-4.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-4.video %}{{ page.widget-4.video }}{% endif %}</a>
        <h3 class="font-size-h3 t10">{{ page.widget-4.title }}</h3>
        <p>{{ page.widget-4.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->

<div class="row">
    {% if page.widget-5.title %}
    <div class="medium-4 columns">
        <a href="{{ page.widget-5.url }}">{% if page.widget-5.image %}<img src="{{ site.urlimg }}/{{ page.widget-5.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-5.video %}{{ page.widget-5.video }}{% endif %}</a>
        <h3 class="font-size-h3 t10">{{ page.widget-5.title }}</h3>
        <p>{{ page.widget-5.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}

    {% if page.widget-6.title %}
    <div class="medium-4 columns">
        <a href="{{ page.widget-6.url }}">{% if page.widget-6.image %}<img src="{{ site.urlimg }}/{{ page.widget-6.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-6.video %}{{ page.widget-6.video }}{% endif %}</a>
        <h3 class="font-size-h3 t10">{{ page.widget-6.title }}</h3>
        <p>{{ page.widget-6.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}

    {% if page.widget-7.title %}
    <div class="medium-4 columns">
        <a href="{{ page.widget-7.url }}">{% if page.widget-7.image %}<img src="{{ site.urlimg }}/{{ page.widget-7.image }}" width="96" height="96" alt="">{% endif %}{% if page.widget-7.video %}{{ page.widget-7.video }}{% endif %}</a>
        <h3 class="font-size-h3 t10">{{ page.widget-7.title }}</h3>
        <p>{{ page.widget-7.text }}</p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->

</div>

	<div class="medium-4 columns">
		{% include sidebar.html %}
	</div><!-- /.medium-4.columns -->

</div><!-- /.row -->
